# ======================================
# FUNCIONALIDADES OPCIONAIS E MÓDULOS
# ======================================
## BLOG
# Sistema módulo de blog
# on - Habilita o sistema de blog (padrão)
# off - Desabilitar sistema de blog.
export BLOG="${BLOG:-on}"

## MENU
# Define se o site deve exibir o menu principal de navegação no topo.
# Valores:
#   on  - Habilita o menu (padrão)
#   off - Remove o menu
export MENU="${MENU:-on}"

## VIDEO_PAGE
# Define se uma página dedicada aos vídeos deve ser gerada (videos.html).
# Valores:
#   on  - Gera a página de vídeos (padrão)
#   off - Não gera a página
export VIDEO_PAGE="${VIDEO_PAGE:-on}"
